# Don't save compiled emacs elisp files.
*.elc

# Emacs backup and recovery files
*~
\#*\#
.\#*
*~

# Don't look at auto-downloaded randomness
emacs-extras

# Don't look at downloaded pacakges
packages
