# Don't save compiled emacs elisp files.
*.elc

# Emacs backup and recovery files
*~
\#*\#
.\#*
*~

# Don't look at auto-downloaded randomness
emacs-extras

# Files that might be sitting here downloaded but to not commit
RFC-find.el
autorevert.el
igrep.el
json-mode.el
markdown-mode.el
web-mode.el
